@import './colors.sass'

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  color: $primary

h1, h2, h3, h4, p 
  margin-top: 0

h1
  font-size: 2em


a
  color: $primary
  
#layout 
  display: grid
  grid: auto 1fr auto / auto
  min-height: 100vh

.container
  max-width: 1024px
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em


header 
  font-size: 1.2em
  padding: 3em 0 2em
  background-color: $primary
  color: white


section 
  padding: 3em 0
  @media (min-width: 1200px)
    padding: 6em 0

  &.odd:nth-child(2n)
    background-color: #eee

  &.even:nth-child(2n+1)
    background-color: #eee


h2 small
  color: $lotta-blue-light
  font-size: 0.50em


.split-col
  display: grid
  grid-gap: 4em
  @media (min-width: 720px)
    grid-template-columns: 20rem 1fr


.heading-col
  display: grid
  grid-gap: 2em
  @media (min-width: 720px)
    grid-template-columns: 14rem 1fr


.flex-space-between
  display: flex
  justify-content: space-between

input, textarea, button
  box-sizing: border-box
  font-size: 1em
  width: 100%
  max-width: 400px
  border: 1px solid #999
  border-radius: 2px
  padding: .6em .4em
  margin-bottom: 1em

textarea
  height: 80px


.button 
  display: inline-block
  font-weight: 800
  padding: .5em 1.8em
  border: 2px solid $primary
  border-radius: 4px
  background: $primary-invert
  text-decoration: none
  text-align: center
  transition: transform .1s, color .1s, background-color .4s

  &:hover 
    color: $primary-invert
    background-color: $primary
    transform: translateY(-2px)



.align-right 
  text-align: right





.hero-wrapper
  position: relative

  .hero-content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    font-size: 4vw
    text-align: right

    p
      margin-top: 1em
      color: white

    @media (min-width: 540px)
      font-size: 3vw

